@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #0d1a2d;
  font-family: "Poppins", sans-serif;
}

/* Homepage style */
.app-title {
  color: white;
}

.app-subtitle {
  color: #8a99b3;
}

/* Seach Input */
.search-input-container {
  position: relative;
  width: 100%;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #8a99b3;
  font-size: 16px;
  pointer-events: none; /* to pass the click at the input*/
}

.search-input-custom {
  background-color: #1f2a47 !important;
  color: #c5cee0 !important;
  border: 1px solid #1f2a47 !important;
  border-radius: 10px;
  padding-left: 40px;
  height: 48px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.search-input-custom::placeholder {
  color: #8a99b3;
}

.search-input-custom:hover {
  background-color: #2a3b58 !important;
  border-color: #3e5680 !important;
}

.search-input-custom:focus {
  border-color: #4a90e2 !important;
}

/* geo btn style */
.geo-btn {
  background-color: #1f2a47 !important;
  border: 1px solid #1f2a47 !important;
  color: #c5cee0 !important;
  border-radius: 10px !important;
  width: 48px;
  height: 48px;
  font-size: 20px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.geo-btn:hover {
  border-color: #4a90e2 !important;
  background-color: #4a90e2 !important;
  color: white !important;
}

.weather-card {
  /* to change background or icons */
  background: linear-gradient(135deg, #4a90e2, #6fb1fc) !important;
  color: white;
  border: 1px solid #2a3f5f !important;
  border-radius: 15px !important;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.weather-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 20px rgba(185, 214, 247, 0.664);
  background-color: #5aa0f2 !important;
}

.forecast-title {
  color: white;
}
/* to continue */

.current-weather-card {
  box-shadow: 0 0 20px rgba(185, 214, 247, 0.664);
}
